# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log

# Build and cache files
client/build/
api/build/
dist/

# Editor and OS files
.vscode/
.DS_Store
